.tool-button {
    width: 54px;
    height: 54px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    flex-shrink: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.tool-button:hover {
    background-color: rgba(137, 137, 137, 0.43);
    width: 64px;
    height: 64px;
    transition-property: width, height;
    transition-duration: 0.025s, 0.025s;
}
